.buildpath
.hgignore.swp
.project
.orig
.swp
*.docx
*.exe
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
main
output/
manifest/output/
internal/packed/build_pack_data.go
ui/.vscode/
ui/node_modules/
temp/